{%macro form_field(field) %}
<div class="form-group {% if field.errors %}has-feedback has-error{% endif %}">
{{ field.label(class = 'col-sm-3 control-label') }}
{{ field(class='form-control', **kwargs) }}
{% if field.errors %}
    <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
{% endif %}
{% if field.description %}
    <span class=""help-block">{{ field.description }}</span>
{% endif %}
{% for error in field.errors %}
    <div class="control-group has-error">
    <span class="help-block">{{ error }}</span>
    </div>
{% endfor %}
</div>
{% endmacro %}