<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% assets "css_all" %}
                <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
        {% endassets %}

    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="" navbar-brand" href="/">Solitude</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    {% if g.user.is_authenticated %}
                        <li><a href="{{ url_for('logout', next = request.path) }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signup', next = request.path) }}">Sign Up</a></li>
                        <li><a href="{{ url_for('login', next = request.path) }}">Log in</a></li>
                    {% endif %}
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/snailbait">Snailbait</a></li>
                </ul>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                {% for category, message in get_flashed_messages(with_categories = true) %}
                <div class="alert alert-dismissable alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}

                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% block content%}
                {% endblock %}
            </div>
        </div>

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>