{% extends 'base.html' %}
{% from 'macros/form_field.html'  import form_field %}

{% block title %}Solitude login{% endblock %}

{% block content %}
<form action="{{ url_for('login') }}" method="post" class="form form-horizontal">
    {{ form_field(form.email) }}
    {{ form_field(form.password) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>{{ form.remember_me() }}Remember me</label>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>

        </div>

    </div>
</form>
{% endblock %}