{%  extends 'base.html' %}
{% from 'macros/form_field.html'  import form_field %}

{% block title %}Sign Up{% endblock %}
{% block content %}
    <form action="{{ url_for('signup') }}", method="post", class="form form-horizontal">
        {{ form_field(form.email) }}
        {{ form_field(form.password) }}
        {{ form_field(form.password2)  }}
        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </div>

                </div>
    </form>
{%  endblock %}